[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[packages]
andesite-py = "*"
aioredis = "*"
autobahn = "*"
konfi = "*"
uvloop = {markers = "sys_platform != 'win32'"}
cbor = "*"
aiobservable = "*"
lptrack = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"

[scripts]
run = "python -m ari.cli"
tests = "python -m pytest"
